:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rF6F8FE(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  @media (prefers-color-scheme: light) {
    color: #213547;
    background-color: #ffffff;
  }
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;


}

button {
  cursor: pointer;
  transition: border-color 0.25s;
  border-radius: 8px;
  border: 1px solid transparent;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;

  &:focus,
  &:focus-visible {
    outline: 4px auto -webkit-focus-ring-color;
  }

  @media (prefers-color-scheme: light) {
    background-color: #f9f9f9;
  }
}

body {
  margin: 0;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 28px;
  line-height: 1.1;
}

.card {
  padding: 2em;
}

#app {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

// Стили из SCSS

body {
  display: flex;
  padding: var(--m10, 100px) var(--m0, 0px);
  justify-content: center;
  align-items: center;
  gap: var(--m10, 100px);
  flex: 1 0 0;
  align-self: stretch;
  background-color: #f6f8fe;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--m4, 40px);
}

.form-title {
  color: var(--Black-blue, #2B2D42);
  font-size: 28px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.form-container {
  display: flex;
  padding: var(--m10, 100px) var(--m6, 60px);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--m4, 40px);
  border-radius: var(--m4, 40px);
  border: 1px solid rgba(141, 153, 174, 0.40);
  background: var(--white, #FFF);
  box-shadow: 0px 0px 40px 0px rgba(141, 153, 174, 0.05);
}

.password-input-container {
  position: relative;
  width: 400px;
  justify-content: space-between;
}

.password-input-container input {
  width: calc(100% - 40px);
  padding-right: 40px;
  border-radius: 8px;
  border: 1px solid rgba(141, 153, 174, 0.40);
  background: rgba(237, 242, 244, 0.40);
  height: 50px;
  box-sizing: border-box;
}

.password-toggle-button {
  position: absolute;
  top: 25%;
  right: 30px;
  width: 24px;
  flex-shrink: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
  outline: none;
  padding: 0;
  margin: 0;
  &:focus,
  &:focus-visible {
    outline: none;
  }
}

label {
  margin-bottom: 8px;
}

input {
  border-radius: 8px;
  border: 1px solid rgba(141, 153, 174, 0.40);
  background: rgba(237, 242, 244, 0.40);
  margin-bottom: 16px;
  padding: var(--m0, 0px) var(--m3, 30px);
  width: 360px;
  height: var(--m5, 50px);
  justify-content: space-between;
  box-sizing: border-box;
}

.error-messages {
  color: red;
  margin-top: 5px;
}

button {
  padding: 10px var(--m4, 40px);
  width: 360px;

  &.registration-button {
    padding: 10px var(--m4, 40px);
    width: 360px;
    background-color: #5680E9;
    color: white;
  }
}